# Entornos virtuales
venv/
.env/

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos temporales de editores
*.swp
*.sublime-project
*.sublime-workspace
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db

#Archivo de env
.env

.trunk/
